# Archivos Generales (VSC / OS)

.vscode/*
.history/
.DS_Store
Thumbs.db
*.log
*.env
*.secret

# Archivos python
__pycache__/

# Entornos virtuales (venv)
/venv
/env
.venv

# Archivos de Pytest
.pytest_cache/

